ion-view(view-title='Eventos')
  ion-content
    .list
      a.item.item-avatar(ui-sref="client.event-show({eventId: event.id})", ng-repeat="event in events")
        h2 {{event.name}}
        p {{event.date | date}}
    a.button.button-block.button-calm(ui-sref="client.event-new") Criar evento
    
