ion-view(view-title='Login', name='login-view')
  form(ng-submit="login()")
    ion-content.padding(scroll="false")
      div.app-logo
        img(src="img/logo.png")
      .list.list-inset
        label.item.item-input
          input(type='email', placeholder='Email', ng-model='user.email' required)
        label.item.item-input
          input(type='password', placeholder='Password', ng-model='user.password' required)
      button.button.button-block.button-calm Login
      a.button.button-block.button-stable(ui-sref="register") Criar conta
