ion-view(view-title='Promoters')
	ion-content
		ion-list
			a.item(
				collection-repeat='promoter in promoters'
				href='#/app/contract/promoter/{{promoter.id}}')
				p {{promoter.name}}
				p Rating: {{promoter.rating}}
