ion-view(view-title='Evento')
	//- ion-nav-buttons(side='right')
	//- 	button.button.button-icon.button-clear.ion-ios-list-outline(ng-click='showOffers()' ng-show='shouldShowOfferButton')
	ion-content
		p {{event.name}}
		p Proin sit amet diam enim. Curabitur ut turpis pellentesque, aliquam tellus in, elementum neque. Etiam tincidunt nec mauris sed euismod. Phasellus iaculis condimentum tortor, sed lobortis lorem placerat eu. Suspendisse at orci dui. Nunc pretium nunc a diam tempus, a cursus ipsum pulvinar. Aenean accumsan ex ut tellus fermentum, vitae volutpat libero commodo. Nulla sagittis sed dui eu pharetra. Nunc varius condimentum eros, ut tempor nunc aliquam a. Morbi ligula leo, pulvinar vel massa vel, cursus porttitor tellus. Etiam quis odio imperdiet, accumsan magna sit amet, imperdiet purus. Maecenas quis risus nisl.
	ion-footer-bar
		button.button.button-full.button-positive(ng-click='onContractPromoterClicked()')
			| Contratar Promoter
