ion-view(view-title='Orçamento para {{offer.event.name}}')
	ion-content
		p Orçamento do {{offer.promoter.name}}
		p Preço: {{offer.budget_price}}
		p Descrição:
		p {{offer.budget_description}}
	//- ion-footer-bar
	//- 	button.button.button-full.button-positive(ng-click='requestBudget()')
	//- 		| Solicitar orçamento
