ion-view(view-title='Promoters')
	ion-content
		ion-list
			ion-item(
				collection-repeat='promoter in promoters'
				href='#/app/offer/events/{{eventId}}/promoters/{{promoter.id}}')
				p {{promoter.name}}
				p Pontuação: {{promoter.rating}}
