ion-view(view-title='Promoter {{promoter.name}}')
	ion-content
		p {{promoter.name}}
		p Pontuação: {{promoter.rating}}
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget risus at risus consequat ullamcorper. Pellentesque feugiat, purus vitae fermentum suscipit, sem nibh vestibulum magna, in faucibus urna turpis eu purus. Quisque sagittis magna eget massa aliquam, vulputate tristique tortor iaculis. Curabitur lobortis enim ex, id varius urna faucibus ut. Pellentesque arcu magna, mollis non urna eu, consectetur scelerisque massa. Mauris ultrices finibus tortor, a sollicitudin mauris tristique congue. Donec ipsum turpis, luctus vulputate nulla eget, bibendum viverra sapien. Etiam pharetra imperdiet arcu, ac pulvinar neque tristique a. Curabitur pulvinar elit a ligula accumsan tempus. Integer consequat accumsan ante sit amet fringilla.
	ion-footer-bar
		button.button.button-full.button-positive(ng-click='requestBudget()')
			| Solicitar orçamento
