ion-view(view-title='Ofertas')
	ion-content
		ion-list
			ion-item(
				collection-repeat='offer in offers'
				href='#/app/offer/offers/{{offer.id}}')
				p Cliente {{offer.client.name}}
				p {{offer.event.name}}
