ion-view(view-title='Contrato')
	ion-content
		p {{offer.event.name}}
		p {{offer.client.name}}
		p Quisque ornare, erat eget dapibus tempus, mi dolor efficitur tortor, at volutpat dui massa vel sapien. Vivamus maximus condimentum augue vel scelerisque. Proin eu nisi et purus volutpat facilisis mattis nec ante. Maecenas sodales arcu ipsum, ut hendrerit neque suscipit sit amet. Ut rutrum arcu massa, quis pellentesque nibh tristique ut. Suspendisse purus diam, sagittis mattis quam ac, consequat vehicula metus. Duis pretium purus at ipsum tempor, nec ultrices nibh imperdiet. Pellentesque feugiat tellus sed augue ultricies iaculis non vitae lacus. Vivamus ac massa vitae enim consequat eleifend.
	ion-footer-bar
		button.button.button-full.button-positive(ng-click='createOffer()')
			| Criar orçamento
