doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    link(href='css/app.css', rel='stylesheet')
    // ionic/angularjs js
    script(src='lib/ionic/js/ionic.bundle.js')
    script(src='lib/angular-cookie/angular-cookie.min.js')
    script(src='lib/ng-token-auth/dist/ng-token-auth.min.js')
    script(src='lib/moment/min/moment-with-locales.min.js')
    script(src='lib/angular-resource/angular-resource.min.js')
    // cordova script (this will be a 404 during development)
    script(src='cordova.js')
    // your app's js
    script(src='js/app.js')
  body(ng-app='MyEventsApp')
    ion-nav-view
